body {
	font-family: sans;
	margin-top: 0;
}
a:link, a:visited {
	color: #231111;
	font-weight: bold;
	text-decoration: none;
	border-bottom:1px dotted black;
}
a:hover {
	color: #E4401F;
	border-bottom:1px dotted #E4401F;
}
h1, h2 { color: #E4401F; }
#wrapper {
	box-shadow: 0 0 8px #CCCCCC;
}

/* header *
  ------- */
  
#header {
	text-align: center;
	background-color: #E4401F;
	border-radius: 0 0 5px 5px;
	margin-bottom: 1em;
	min-height: 220px;
}
#header, #header h1, #header h2 {
	color: #FFFFFF;
}

/* content *
  -------- */
  
#description {
	border-radius: 5px;
	background-color: #e8e8e8;
	text-align: justify;
	padding: 0.5em;
	margin: 0 0.5em 0.5em 0;
	line-height: 130%;
}
.item {
	border-radius: 5px;
	background-color: #e8e8e8;
	float: left;
	margin: 0 1em 1em 0;
	min-height: 220px;
	width: 200px;
	padding: 0 8px;
	background-repeat: no-repeat;
	background-position: 8px 80px;
}
.item ul {
	padding-left: 110px;
	font-size: 10pt;
	list-style-image: url('../images/arrow.png');
}
.item ul li {
	margin-bottom: 4px;
}
#infos {
	clear: both;
}

.hidden {
	font-size: 0pt;
	margin-top: -1px;
	margin-left: -1px;
}
#akademyfr {
	background-image: url('../images/akademyfr.png');
	margin-right: 0;
}
#drupalcamp {
	background-image: url('../images/drupalcamp.png');
}
#upt {
	background-image: url('../images/upt.png');
}

.grid_4 {
    text-align: center;
}

/* partners *
  ------- */
  
.logos ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}
.logos ul li {
	margin-bottom: 0.5em;
}
.logos, #infos {
	padding: 10px;
	border-radius: 5px;
	background-color: #e8e8e8;
	margin-bottom: 1em;
}

/* Infos *
  ------ */
