body {
	font-family: sans;
	font-size: 100%;
	margin-top: 0;
    color: #333;
}
a:link, a:visited {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted #333;
}
a:hover {
	color: #E4401F;
	border-bottom:1px dotted #E4401F;
}


#header a,
.logos a {
    border-bottom: 0px;
}
h1, h2 { color: #E4401F; }

.hidden {
    font: 0pt/0 a;
    margin-top: -1px;
    margin-left: -1px;
    color: transparent;
}

/* homepage *
  --------- */

#cdl2012 p {
	text-align: center;
	background: #e4401f;
    -moz-box-shadow: -10px 10px 10px 0px #9b9b9b;
    -webkit-box-shadow: -10px 10px 10px 0px #9b9b9b;
    -o-box-shadow: -10px 10px 10px 0px #9b9b9b;
    box-shadow: -10px 10px 10px 0px #9b9b9b;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	padding: 1em 0.5em;
	height: 50px;
}
#cdl2012 p a {
	display: block;
	font-size: 1.3em;
	border-bottom: none;
	color: #FFFFFF;
	line-height: 1.5em;
}
#cdl2012 p a span {
	display: block;
	color: #ffcc00;
}
#cdl2012 p a:hover span {
	font-size: 1.5em;
}

/* header *
  ------- */
  
#header {
	text-align: center;
	background-color: #E4401F;
	min-height: auto;
}
#header img {
	max-width: 100%;
}
#header, #header h1, #header h2 {
	color: #FFFFFF;
}

/* content *
  -------- */

#description {
	text-align: justify;
	line-height: 150%;
}
#infos {
	clear: both;
}

.community-event h3 {
    background: url('../images/upt.png') no-repeat 8px 8px transparent;
    background-size: contain;
    height: 155px;
}
#djangofr h3 {
	background-image: url('../images/djangofr.png');
}
#akademyfr h3 {
	background-image: url('../images/akademyfr.png');
}
#upt h3 {
	background-image: url('../images/upt.png');
}

/* sidebar *
  -------- */

.well {
    border: none;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.thumbnails.row-fluid {
    margin-left: 0;
}

.image-left {
	float: left; 
	margin: 0 1em 0.5em 0;
	font-size: 85%;
	font-style: italic;
}
